/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-ene-2018, 8:49:44
    Author     : flotante
*/
.body{
    background: #cccccc;
}
.titulo{
    letter-spacing: 6px;
    text-align: center;
    font-size: 50px;
}
.prueba{
    display:flex;
    flex-direction: row;
    margin-right:10%;
    margin-left: 10%;
}

.sub{
    background-color: gray;
    margin-left: 3%;
    margin-right: 5%;
    font-size: 35px;
    color: white;
    text-indent: 20px;
}
.sub2{
    background-color: gray;
    margin-left: 3%;
    margin-right: 5%;
    font-size: 35px;
    color: white;
    text-indent: 20px;
    clear: both;
}
.pri{
    margin-top: 20px;
    text-indent: 30px;
}
.rojo{
    color: red;
    font-family: cursive;
}
.blanco{
    background: white;
    font-weight: bold;
}