/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ene-2018, 20:20:18
    Author     : Erick
*/
.body{
    background-color:#CFB007;
}
.h1{
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    font-size: 50px;
}
.centro{
    text-align: left;
    margin-right: 40%;
    margin-left:40%;
}
.grande{
    display:flex;
    flex-direction: column;
}
.pri{
   align-self: flex-start;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
.seg{
    align-self: flex-end;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 40px;
}
