/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-ene-2018, 12:02:41
    Author     : daw
*/

.Grande{
    background-color: gray;
}
.blanco{
    background-color: white;
    margin: 1%;
    padding: 3%;
}
.advertencia{
    text-align: center;
    margin: 3%;
    color: red;
}
.linea{
    border-bottom: solid 3px black;
    color:black;
    text-align: center;
    margin: 2%;
}
.registro{
    font-size: 200%;
}
.rojo{
    color:red;
}