/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-ene-2018, 12:02:41
    Author     : daw
*/

.Grande{
    background-color: gray;
}
.blanco{
    background-color: white;
    margin: 1%;
    color:red;
    padding: 3%;
}
.advertencia{
    text-align: center;
    margin: 3%;
}
.linea{
    border-bottom: solid 3px black;
    color:black;
    text-align: center;
    margin: 2%;
}
.e-mail{
    text-align: left;
}
.pridos{
    display:inline-block;
}
.dosder{
    display: inline-block;
    float:right;
}
.ete1{
    display:inline-block;
}
.ete{
    display:inline-block;
    width: 20%
}
.direccion{
    width: 80%;
}
.pritres{
    display:inline-block;
    width: 48%;
}
.tresder{
    display:inline-block;
    float:right;
    width: 48%;
}
.distrito{
    width: 35%;
}
.res{
    width: 25%;
}
.centro{
    width: 70%;
}