/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-ene-2018, 10:09:55
    Author     : daw
*/
.titulo{
    margin: 3%;
    text-align: center;
    padding: 5%;
    background-color: darkcyan;
}
.grande{
    border:solid red;
    display:flex;
    flex-direction:column;
}
.barra{
    border-bottom: solid;
}
.a{
    width: 40%;
}
.a1{
    width: 30%;
}
.a2{
    width: 10%;
}
.b{
    border:solid red;
    width: 20%;
}
.c{
    display:flex;
    flex-direction: row;
}
.contenedor{
    border:solid red;
    display:flex;
    flex-direction: row;
}
.pri{
    border:solid aqua;
    width: 60%;
}
.seg{
    border:solid aqua;
}
.d{
    border:solid red;
    width: 40%;
}
.e{
    display:flex;
    flex-direction: row;
}
.f{
    width: 20%;
}